<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Tasks</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/default.css">
</head>
<body>
	<div id="header">
		<div class="row text-center">
			<h1>My To Do List</h1>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Tille..." id="textbox-task">
					<span class="input-group-btn">
			        	<button class="btn btn-primary" type="button" id="button-add-task">Add</button>
			      	</span>			      	
			    </div>
			</div>
		</div>	
	</div>

	<div id="body">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
				<div class="list-group button-group" id="list-tasks">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
				<button class="btn btn-warning" id="button-delete-tasks-checked">Delete</button>
			</div>
		</div>
		<hr>
		<div id="history">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
					<h2 class="text-center">Task History</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
					<button id="button-test-ajax" class="btn btn-primary">Get All History</button>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/customevent.js"></script>
</body>
</html>